<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Reprendre la saisie</h4>
  <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('cross click')">

  </button>
</div>
<div class="modal-body">
    <p><strong>Un projet en cours de saisie n'a pas été enregistré. Voulez-vous le reprendre ?</strong>
      <br>
      <span class="text-muted small" *ngIf="timestamp">{{timestamp | date:'short'}}</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" autofocus class="btn btn-outline-danger" (click)="modal.dismiss('dismiss click')">Supprimer</button>
  <button type="button" class="btn btn-success" (click)="modal.close(true)">Reprendre</button>
</div>
