<div class="container pt-5">
  <div class="d-flex justify-content-between flex-wrap">
    <h2 class="display-6">Utilisateurs</h2>

    <div class="input-group input-group-no-border mb-2">
      <div class=" input-group-text">
        <i class="bi-search text-primary"></i>
      </div>
      <input (ngModelChange)="updateFilter($event)" [(ngModel)]="filterString" aria-describedby="search-button"
             aria-label="Rechercher" class="form-control"
             placeholder="Filtrer (nom/prénom/mail/login)" type="search">
    </div>
  </div>

  <div *ngIf="users && !usersLoading else loadTemplate">
    <ngx-datatable
      #usersTable
      [columnMode]="ColumnMode.force"
      [footerHeight]="50"
      [headerHeight]="50"
      [rowHeight]="50"
      [scrollbarH]="true"
      [limit]="10"
      [loadingIndicator]="datatableLoading"
      [messages]="{emptyMessage: 'Aucune utilisateur à afficher', totalMessage: 'Total', selectedMessage: 'Selectionné'}"
      [rows]="users"
      class="material shadow-none rounded border h-100"
    >
      <ngx-datatable-column [minWidth]="150" name="username">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Nom d'utilisateur</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="fw-bold me-2">{{row.username}}</span>
          <span *ngIf="authenticatedUser?.id === row.id" class="badge bg-info text-white">Courant</span>
          <ng-template #loading><span class="spinner-border-sm spinner-border text-dark"></span></ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="name"></ngx-datatable-column>
      <ngx-datatable-column name="email"></ngx-datatable-column>
      <ngx-datatable-column name="profile">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Profil</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ng-container [ngSwitch]="row.profile">
            <span class="badge bg-primary text-white" *ngSwitchCase="'utc-etu'">Étudiant</span>
            <span class="badge bg-secondary text-white" *ngSwitchCase="'utc-pers'">Personnel</span>
            <span class="badge bg-secondary text-white" *ngSwitchCase="'utc-etu3c'">Doctorant</span>
            <span class="badge bg-warning text-dark" *ngSwitchDefault>{{row.profile }}</span>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="admin">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Administrateur</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="form-check form-switch datatable-mobile-hidden position-absolute">
            <input #toggleInputElement (ngModelChange)="updateAdmin($event, row, toggleInputElement)"
                   [disabled]="authenticatedUser?.id === row.id" [ngModel]="row.role === UserRole.ROLE_ADMIN"
                   class="form-check-input" id="admin-{{row.id}}" type="checkbox">
            <label class="form-check-label" for="admin-{{row.id}}"></label>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</div>

<ng-template #loadTemplate>
  <span class="spinner-border text-info spinner-border-sm me-2"></span>
  <span class="text-info">Chargement en cours...</span>
</ng-template>
