<div class="glass-bg" data-aos="fade-up" data-aos-duration="1000">
  <div class="glass d-none d-lg-inline"
       style="width: 97px; height: 161px; top: 74px; left: 80%;  opacity: 0.195213;"></div>
  <div class="glass"
       style="width: 57px; height: 177px; top: 376px; left: 35%;  opacity: 0.126112;"></div>
  <div class="glass"
       style="width: 177px; height: 154px; top: 241px; left: 40%; opacity: 0.340725;"></div>
  <div class="glass"
       style="width: 187px; height: 51px; top: 163px; left: 5%; opacity: 0.119212;"></div>
  <div class="glass"
       style="width: 51px; height: 187px; top: 86px; left: 3%;  opacity: 0.119212;"></div>
  <div class="glass"
       style="width: 123px; height: 161px; top: 141px; left: 60%;  opacity: 0.247537;"></div>
  <div class="glass"
       style="width: 85px; height: 59px; top: 163px; left: 45%;  opacity: 0.0626875;"></div>
  <div class="glass d-none d-md-inline"
       style="width: 150px; height: 100px; top: 86px; left: 80%;  opacity: 0.1875;"></div>
  <div class="glass"
       style="width: 85px; height: 167px; top: 7px; left: 4%; opacity: 0.177437;"></div>
  <div class="glass d-none d-md-inline"
       style="width: 158px; height: 167px; top: 21px; left: 90%; opacity: 0.329825;"></div>
</div>
