.glass {
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  z-index: 0;

  &:nth-of-type(2n) {
    animation: float 12s ease-in-out infinite
  }

  &:nth-of-type(2n+1) {
    animation: float 10s ease-in-out infinite
  }

  &:nth-of-type(4n) {
    animation: float-x 8s ease-in-out infinite
  }
}

.glass-bg {
  max-width: 100vw;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-x {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
