<article data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
  <h3 class="display-5">Le budget participatif, c'est quoi ?</h3>
  <p class="lead">Une occasion unique d'améliorer ta vie de campus !</p>
  <div class="d-flex flex-column gap-3">
    <div class="d-flex justify-content-center gap-3 d-md-none align-items-center flex-wrap">
      <a href="https://cvec.etudiant.gouv.fr" target="_blank">
        <img width="200" ngSrc="/assets/CVEC1_signature_rvb.png"
             alt="Logo CVEC"
             height="77">
      </a>
      <img src="/assets/BPE_logo.png" alt="Logo BPE"
           width="200">
    </div>

    <div>
      <img src="/assets/BPE_logo.png" class="float-start mx-3 d-none d-md-block" alt="Logo BPE"
           width="200">

      <p>
        Le Budget Participatif Etudiant (BPE) est là pour vous aider à concrétiser les projets que vous auriez à cœur de réaliser pour <span class="fw-semibold">améliorer la vie de campus de tous les
    étudiants à l’UTC</span>, autour des thématiques suivantes : accueil, actions de prévention et d’éducation à la santé, accompagnement social et sanitaire, culture, sport...
      </p>
      <p>
        Le principe est simple : chaque étudiant(e), seul(e) ou en groupe, peut déposer sur le site un ou plusieurs projets qui, 
        après étude de sa faisabilité technique et de son coût, sera soumis à l’appréciation de l’ensemble des étudiant(e)s de l’UTC.
      </p>
      <p>
        Grâce à la CVEC (Contribution de Vie Etudiante et de Campus) - dont vous vous êtes acquittés lors de votre
        inscription à l’UTC - une <span class="fw-semibold">enveloppe de <span
        style="white-space: nowrap">15 000 €</span></span>  est dédiée pour la 4ème année consécutive au financement et à l’accompagnement des projets 
        qui obtiendront le plus de voix à l’issue d’un <span class="fw-semibold">vote 100% étudiant</span>.
      </p>
      <p> Les projets lauréats devront être mis en œuvre dans le courant de l’année universitaire 2024/2025.
      </p>
      <p class="fst-italic">Attention, les montants qui seront attribués aux projets lauréats ne sont pas des subventions.</p>

      <a href="https://cvec.etudiant.gouv.fr" target="_blank" class="pt-4 text-center d-none d-md-block">
        <img width="200" ngSrc="/assets/CVEC1_signature_rvb.png"
             alt="Logo CVEC"
             height="77">
      </a>


      <!--<p class="fw-bold text-dark fs-5 mt-5 d-flex flex-column align-items-center gap-3"
         data-aos="zoom-in"> -->
        <!--Alors, à vos idées et rendez-vous dans l'espace de dépôt des projets dès le 15 septembre 2023 !-->
        <!--      <button #btn-->
        <!--              aria-disabled="true"-->
        <!--              (mouseleave)="btn.classList.remove('shadow')"-->
        <!--              (mouseenter)="btn.classList.add('shadow')"-->
        <!--              class="btn btn-danger rounded-5 shadow-sm btn-lg px-4 mt-3">Déposer un projet-->
        <!--      </button>-->
      <!--</p>-->
    </div>
  </div>

</article>
