<div class="container d-flex px-3 py-5 px-md-5 align-content-center flex-column flex-md-row">
  <img src="assets/img/404.png" style="width: 30%" alt="404 image">
  <div class="ps-md-4">
    <h1 class="display-2">Page inconnue</h1>
    <p>Hum hum... Personne ne devrait arriver ici !</p>
    <p>Si c'est une erreur merci de contacter l'administrateur en donnant ce détail :</p>
    <code>
      {{routeDetails}}
      <br>
      Route précédente : {{parentRouteDetails || 'unknown previous route'}}
    </code>

    <button class="btn w-100 btn-primary mt-3" routerLink="/">Retour à l'accueil</button>
  </div>
</div>
