<nav class="navbar navbar-expand-lg position-fixed vw-100 top-0">
  <div class="container">
    <a class="navbar-brand d-flex" routerLink="/">
      <img src="assets/SU-UTC18-70.png" alt="Logo UTC" height="45" class="d-none d-sm-block">
      <span class="vr mx-2 mx-md-3 text-muted d-none d-sm-block"></span>
      <img src="assets/BPE_logo.png" alt="Logo BPE" height="50">
    </a>
    <button class="navbar-toggler" type="button" (click)="openOffcanvas(navOffcanvas)">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas" tabindex="-1">
      <ng-container [ngTemplateOutlet]="navOffcanvas"></ng-container>
    </div>

  </div>
</nav>
<ng-template let-offcanvas #navOffcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close" (click)="offcanvas.close()"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-lg-2">
      <li class="nav-item">
        <a class="nav-link" (click)="offcanvas?.close()" [routerLinkActive]="'active'" aria-current="page"
           [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}">Présentation</a>
      </li>
      <li class="nav-item" *ngIf="showProjectsLink()">
        <a class="nav-link"
           [routerLink]="['/', 'sessions', currentSession?.slug]" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
           (click)="offcanvas?.close()">Les projets</a>
      </li>
      <li class="nav-item" ngbDropdown display="static">
        <a class="nav-link" role="button" ngbDropdownToggle>
          Éditions précédentes
        </a>
        <ul ngbDropdownMenu>
          <ng-container *ngFor="let session of sessions">
            <li *ngIf="currentSession !== session && isPastSession(session)">
              <a ngbDropdownItem (click)="offcanvas?.close()" [routerLink]="['/', 'sessions', session.slug]"
                 routerLinkActive="active">{{session.name}}</a>
            </li>
          </ng-container>
          <!--          <li>-->
          <!--            <hr class="dropdown-divider">-->
          <!--          </li>-->
          <!--          <li><a ngbDropdownItem>Voir plus...</a></li>-->
        </ul>
      </li>
      <ng-container *ngIf="authenticatedUser">
        <li class="nav-item d-none d-lg-block" ngbDropdown display="static"
            *appHasRole="UserRole.ROLE_ADMIN">
          <a class="nav-link" role="button" routerLinkActive="active" [routerLink]="['/admin']">
            <i class="bi-gear"></i> Administration
          </a>
        </li>

        <li class="nav-item d-lg-none" ngbDropdown display="static"
            *appHasRole="UserRole.ROLE_ADMIN">
          <a class="nav-link" role="button" routerLinkActive="active" ngbDropdownToggle>
            <i class="bi-gear"></i> Administration
          </a>
          <ul ngbDropdownMenu>
            <li>
              <a ngbDropdownItem routerLink="/admin/projects" routerLinkActive="active">
                <i class="bi-lightbulb"></i>
                Projets
              </a>
              <a ngbDropdownItem routerLink="/admin/sessions" routerLinkActive="active">
                <i class="bi-clock"></i>
                Sessions
              </a>
              <a ngbDropdownItem routerLink="/admin/users" routerLinkActive="active">
                <i class="bi-people"></i>
                Utilisateurs
              </a>
            </li>
          </ul>
        </li>
      </ng-container>

      <li class="nav-item text-black" ngbDropdown display="static" *ngIf="authenticatedUser">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <i class="bi-person-fill"></i> {{authenticatedUser.name}}
        </a>
        <ul ngbDropdownMenu>
          <li>
            <a ngbDropdownItem  [routerLink]="['/profile']" routerLinkActive="active"
               (click)="offcanvas?.close()"><i class="bi-list"></i> Mes projets</a>
          </li>
          <li *ngIf="isVoteOpened()">
            <a ngbDropdownItem
               (click)="offcanvas?.close(); openVotesModal()"><i class="bi-heart text-danger"></i> Mes votes</a>
          </li>
          <li>
            <a ngbDropdownItem (click)="logout()" class="text-danger"
               routerLinkActive="active"><i class="bi-door-closed-fill"></i> Déconnexion</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="mt-4 mt-lg-0 d-block d-lg-inline">
      <button class="btn btn-outline-primary w-100" (click)="goToLogin()"
              *ngIf="!authenticatedUser">
        <i class="bi-person-fill me-1"></i>
        Connexion
      </button>
    </div>
  </div>
</ng-template>
