@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


.navbar {
  background-color: transparentize(#fff, .03);
  backdrop-filter: blur(.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

nav {
  z-index: 5;
}

@include media-breakpoint-down(lg) {
  .dropdown-menu {
    box-shadow: none;
  }
}

.dropdown-toggle:has(~ ul li .active) {
  color: var(--bs-navbar-active-color);
}
