.text-gradient-primary {
  background: linear-gradient(to right, #184e5b, #1a646d, #257b7b, #399386);
  background-clip: text;
  color: transparent;
}

.text-gradient-warning {
  background-image: linear-gradient(to right, #ff6347, #ff7f37, #ff9c24, #ffba0c, #ffd700);
  background-position-x: 0;
  background-clip: text;
  color: transparent;
}
