<section>
  <h3 class="display-5 pb-3 text-white">Règlement</h3>
  <div class="row row-cols-1 row-cols-lg-2 g-5">
    <div class="col d-flex gap-5 flex-column">
      <article class="card card-body border-0 shadow" data-aos="fade-right">
        <div class="d-flex text-gradient-primary align-items-end gap-3">
          <i class="bi-people-fill fs-1"></i>
          <h4 class="fs-3">Qui peut participer ?</h4>
        </div>
        <ul>
          <li>Tout étudiant <span class="fw-bold">inscrit à l'UTC</span> ayant versé la CVEC (ou exonéré)</li>
          <li>Tout étudiant, porteur d'un projet à titre individuel ou collectif</li>
        </ul>
      </article>
      <div class="d-none d-lg-block">
        <ng-container [ngTemplateOutlet]="donts"></ng-container>
      </div>
    </div>
    <div class="col d-flex gap-5 flex-column overflow-hidden">
      <article data-aos="fade-left" class="card card-body border-0 shadow">
        <div class="d-flex text-gradient-primary align-items-end gap-3">
          <i class="bi-journal-check fs-1"></i>
          <h4 class="fs-3">Quels sont les critères de recevabilité d'un projet ?</h4>
        </div>
        <ul>
          <li>Être un projet d'intérêt général visant à innover, créer, modifier des aménagements ou des services et à
            <span class="fw-bold">améliorer la vie quotidienne des étudiants</span> .
          </li>
          <li>Répondre à au moins une des thématiques de la CVEC :
            <ul>
              <li>accueil</li>
              <li>accompagnement social</li>
              <li>santé</li>
              <li>sport</li>
              <li>culture</li>
            </ul>
          </li>
          <li>Être techniquement et juridiquement réalisable. La description du projet doit être suffisamment précise
            pour
            permettre son évalutation par la commission CVEC
          </li>
          <li>Être accompagné d'une estimation budgétaire (le montant communiqué doit être toutes taxes comprises (TTC) et doit inclure les éventuels frais de livraison)</li>
          <li>Être réalisable dans le courant de l'année universitaire et suivi par le porteur de projet</li>
        </ul>
      </article>
    </div>

    <div class="col d-block d-lg-none">
      <ng-container [ngTemplateOutlet]="donts"></ng-container>
    </div>
  </div>

</section>

<ng-template #donts>
  <article class="card card-body border-0 shadow" data-aos="fade-right">
    <div class="d-flex text-gradient-warning align-items-end gap-3">
      <i class="bi-slash-circle-fill fs-1"></i>
      <h4 class="fs-3">Quelles exclusions ?</h4>
    </div>
    <div class="d-flex gap-4  ">
      <ul>
        <li>Les projets contraires au règlement intérieur de l'université</li>
        <li>Les projets contraires à la politique de développement durable de l'université</li>
        <li>Les projets relevant de la mise en conformité ou de contraintes réglementaires</li>
        <li>Les projets portés par des individus ou structures extérieures à l'UTC</li>
        <li>Les projets donnant lieu à une évaluation dans le cadre des études</li>
      </ul>
    </div>
  </article>
</ng-template>
