@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.description {
  h1 {
    font-size: $h4-font-size;
    font-weight: normal !important;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: $h5-font-size;
    font-weight: normal !important;
    margin-bottom: 1rem;
  }

  h1, h2 {
    &::after {
      content: " ";
      display: block;
      position: absolute;
      min-width: 50px;
      border-bottom: 5px var(--bs-info) solid;
    }
  }

  strong {
    color: var(--bs-dark);
  }
}

#like-btn:hover {
  i::before {
    color: white;
  }
}

.fs-smaller {
  font-size: smaller;
}
