<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>
  <div class="container" *ngIf="project">
    <div class="d-flex align-items-start justify-content-lg-between flex-lg-row flex-column-reverse gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-4 text-white" data-aos="zoom-in">{{project.title}}</h1>
        <p class="h3 fw-light text-light" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
          {{session?.name}}
        </p>
        <div class="d-flex flex-wrap gap-3">
          <span class="badge bg-light rounded-pill py-2 text-dark" data-aos="fade-up" data-aos-easing="ease"
                data-aos-delay="500">{{project.category.name}}</span>
          <span class="badge bg-primary rounded-pill py-2 text-white" data-aos="fade-up"
                data-aos-easing="ease"
                data-aos-delay="500" *ngIf="project.realised"><i class="bi-check-circle-fill me-1"></i>Réalisé</span>
        </div>

      </div>
      <div class="flex-grow-1" data-aos="zoom-in" data-aos-delay="400">
        <img *ngIf="project.getHeaderImage() as header_image" alt="Image projet"
             [src]="header_image.resourcePath"
             class="rounded float-end w-auto h-100"
             style="max-height: 230px; max-width: calc(100vw - 1rem);">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light" [class.pb-5]="compact">
  <div class="container py-5" *ngIf="project">


    <div class="card mb-5" *ngIf="authenticatedUser?.role === UserRole.ROLE_ADMIN">
      <div class="card-body">
        <div class="d-flex flex-column gap-3">
          <div class="d-flex fs-5">
            <i class="bi-tools text-info me-2"></i>
            <span>Outils admin</span>
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div>
              <label for="project-status" class="fw-bold small">Statut</label>
              <select id="project-status" class="form-select form-select-sm" [(ngModel)]="project.status"
                      (ngModelChange)="updateProjectStatus()">
                <option value="PENDING_VALIDATION">En attente de validation</option>
                <option value="ACCEPTED">Validé</option>
                <option value="NOT_ACCEPTED">Refusé</option>
                <option value="ACTION_NEEDED">A revoir</option>
                <option value="CANCELED">Annulé</option>
              </select>
            </div>
            <div>
              <label for="project-allocated-budget" class="fw-bold small">Budget alloué</label>
              <div class="input-group input-group-sm">
                <input id="project-allocated-budget" type="number" class="form-control"
                       [(ngModel)]="project.allocatedBudget" min="0" step="0.01">
                <span class="input-group-text">€ (sur {{project.budget |currency:"EUR":"":"1.0-2"}} €)</span>
                <button class="btn btn-info btn-sm"
                        ngbTooltip="Enregistrer"
                        (click)="updateAllocatedBudget()">
                  <i class="bi-check-circle-fill"></i>
                </button>
              </div>
            </div>
            <div>
              <label for="project-realised" class="fw-bold small">Réalisé</label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="project-realised"
                       [(ngModel)]="project.realised" (ngModelChange)="updateProjectRealised()">
                <span class="form-check-label" [class]="project.realised ? 'text-primary':'text-danger'">
                                    {{project.realised ? 'Oui' : 'Non'}}
                                </span>
              </div>
            </div>
          </div>
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-link" routerLink="edit">
              <i class="bi-pencil"></i> Éditer le projet
            </button>
            <button class="btn btn-sm btn-outline-secondary" (click)="openMailPreview()">
              <i class="bi-envelope-fill me-2"></i>
              Envoyer le mail de notification
            </button>
          </div>

        </div>
      </div>
    </div>


    <div class="row g-5">
      <div class="col-12 col-lg-9 d-flex flex-column gap-5">
        <article>
          <h2 class="fs-2">En bref.</h2>
          <p class="lead">{{project.description}}</p>
        </article>

        <article>
          <h2 class="fs-2">Description du projet</h2>
          <p *ngIf="!project.details" class="text-muted small">
            <i class="bi-info-circle-fill me-1"></i>
            Aucune description
          </p>
          <div class="description small" [innerHTML]="project.details">
          </div>
        </article>

        <article *ngIf="getProjectAchievements() as projectAchievements">
          <h2 class="fs-2">Réalisations</h2>
          <div class="gallery">
            <div class="gallery-col" *ngFor="let i of [0,1,2]">
              <ng-container [ngTemplateOutlet]="galleryColRenderer"
                            [ngTemplateOutletContext]="{cols: 3, col: i, achievements:projectAchievements}"></ng-container>
            </div>
          </div>
        </article>

        <article>
          <h2 class="fs-2">Images associées</h2>
          <ng-template #noImageAttachmentsTmpl>
            <p class="text-muted small">
              <i class="bi-info-circle-fill me-1"></i>
              Aucune image supplémentaire
            </p>
          </ng-template>

          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3"
               *ngIf="getProjectImages() as imageAttachments else noImageAttachmentsTmpl">
            <div class="col" *ngFor="let attachment of imageAttachments">
              <div class="card border-0">
                <img class="card-img-top" [src]="attachment.resourcePath"
                     [alt]="attachment.description">
                <div class="card-body p-1 small text-muted">
                  {{attachment.description}}
                </div>
              </div>
            </div>
          </div>
        </article>
        <article>
          <h2 class="fs-2">Documents associés</h2>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col" *ngFor="let attachment of getFileAttachments()">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <div class="d-flex fs-6 fw-semibold justify-content-between align-items-center flex-wrap gap-2">
                      <div class="mw-100">
                        <i class="bi-filetype-pdf text-info me-2 fs-5"></i>
                        <span class="text-wrap">{{attachment.description}}</span>
                      </div>
                      <a [href]="attachment.resourcePath" target="_blank">
                        <button class="btn btn-info float-end h-100" ngbTooltip="Télécharger">
                          <i class="bi-download text-black"></i>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </article>
      </div>

      <aside class="col-12 col-lg-3">
        <div class="position-sticky d-flex flex-column gap-3" style="top: 100px;">
          <div class="card" *ngIf="userCanEdit()">
            <div class="card-body">
              <div class="d-flex flex-column">
                <div class="d-flex fs-5">
                  <i class="bi-tools text-info me-2"></i>
                  <span>Outils</span>
                </div>
                <a [routerLink]="['/projects', project.id, 'edit']" class="btn btn-outline-info mt-3">
                  <i class="bi-pencil-fill me-2"></i>
                  Modifier mon projet
                </a>
              </div>
            </div>
          </div>

          <div class="card  shadow-sm">
            <div class="card-body">
              <div class="d-flex flex-column">
                <div class="d-flex fs-5">
                  <i class="bi-person-fill text-info me-2"></i>
                  <span>{{project.owner.name}}</span>
                </div>
                <span class="small text-muted"
                      *ngIf="project.workgroup"> - avec {{project.workgroup}}</span>
                <div class="d-flex text-muted small mt-3" *ngIf="project.phone as phone">
                  <i class="bi-phone-fill me-2"></i>
                  <a class="text-muted" href="tel:{{phone}}">{{phone}}</a>
                </div>

                <div class="d-flex text-muted small" *ngIf="project.owner.email as email">
                  <i class="bi-envelope-fill me-2"></i>
                  <a class="text-muted text-wrap" href="mailto:{{email}}">{{email}}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow-sm">
            <div class="card-body d-flex justify-content-between flex-wrap align-items-center">
              <div class="d-flex flex-column">
                <div class="d-flex fs-5" *ngIf="project.budget">
                  <i class="bi-piggy-bank-fill text-info me-2"></i>
                  <span>{{project.budget | currency:"EUR":"":"1.0-2"}} €</span>
                </div>
                <span class="small text-muted"
                      *ngIf="project.allocatedBudget != null"> - attribué : {{project.allocatedBudget | currency:"EUR":"":"1.0-2"}}
                  €</span>
              </div>
              <a [href]="budgetFile.resourcePath" target="_blank" *ngIf="getBudgetFile() as budgetFile">
                <button class="btn btn-light float-end h-100" ngbTooltip="Budget détaillé">
                  <i class="bi-download text-black"></i>
                </button>
              </a>
            </div>
          </div>

          <div class="card shadow-sm">
            <div class="card-body">
              <div class="d-flex flex-column">
                <p class="d-flex flex-column m-0">
                  <span
                    class="fs-5 fw-bold text-danger">{{isVotingActiveOnSession && voteButton.userCanVote ? voteButton.userHasVoted ? 'Vous soutenez ce projet' : 'Soutenez ce projet !' : 'Soutiens reçus'}}</span>
                  <span class="p-0 text-muted fw-light fs-smaller" *ngIf="isVotingActiveOnSession && !authenticatedUser">Étudiant UTC ? <span
                    class="text-info cursor-pointer" (click)="login()">Connectez-vous</span></span>
                  <span class="p-0 text-muted fw-light fs-smaller" *ngIf="!isVotingActiveOnSession">Les votes sont clos</span>
                  <span class="p-0 text-muted fw-light fs-smaller" *ngIf="isVotingActiveOnSession && authenticatedUser && !voteButton.userCanVote">Votre profil ({{authenticatedUser.profile}}) ne vous permet pas de voter</span>
                </p>
                <div class="d-flex mt-3">
                  <app-project-vote-button #voteButton [project]="project"></app-project-vote-button>
                  <span class="text-muted ms-2">{{project.votantsCount}}
                    soutien{{project.votantsCount > 1 ? 's' : ''}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow-sm">
            <div class="card-body">
              <app-project-comments [project]="project"></app-project-comments>
            </div>
          </div>
        </div>

      </aside>
    </div>

  </div>
</div>

<article class="container py-5" *ngIf="session && !compact">
  <h2 class="fs-2">Voir aussi</h2>
  <div class="w-100">
    <app-projects-carrousel #carrousel [session]="session" [showDetails]="false"></app-projects-carrousel>
  </div>
</article>

<ng-template #galleryColRenderer let-cols="cols" let-col="col" let-achievements="achievements">
  <ng-container *ngFor="let achievement of achievements; let i=index">
    <div class="gallery-item" *ngIf="i%cols === col">
      <figure class="gallery-figure" *ngIf="isImage(achievement) else documentDownloader">
        <img [src]="achievement.resourcePath" [alt]="achievement.description" class="gallery__image">
        <figcaption class="gallery-caption">{{achievement.description}}</figcaption>
      </figure>
      <ng-template #documentDownloader>
        <div class="gallery-item">
          <div class="card border-0">
            <div class="card-body p-1 small text-muted">
              {{achievement.description}}
            </div>
            <div class="card-footer bg-white">
              <a [href]="achievement.resourcePath" target="_blank">
                <button class="btn btn-info float-end h-100" ngbTooltip="Télécharger">
                  <i class="bi-download text-black"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>

</ng-template>
