<ng-container *ngIf="session else noSession">
 <div class="row g-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 m-auto">
    <div class="col" data-aos="zoom-in" *ngFor="let project of projects">
      <app-project-card [showDetails]="showDetails" [project]="project"></app-project-card>
    </div>
  </div>
  <div class="pt-4 text-center">
    <a [routerLink]="['/sessions', session.slug]"><button class="btn btn-lg rounded-pill">Voir tous les projets</button></a>
  </div>
</ng-container>

<ng-template #noSession>
  <span class="text-danger">
    <i class="bi-exclamation-circle-fill me-1"></i>
    Aucune session fournie
  </span>
</ng-template>
