<div class="container pt-5">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-center justify-content-between w-100">
      <h2 class="display-6 d-inline">Projets</h2>

      <select class="form-select w-auto d-inline bg-light" aria-label="Select session" [(ngModel)]="selectedSession" (ngModelChange)="selectSession()">
        <option *ngFor="let session of sessions" [ngValue]="session">{{session.name}}</option>
      </select>
    </div>


    <div class="input-group input-group-no-border mb-2">
      <div class=" input-group-text">
        <i class="bi-search text-primary"></i>
      </div>
      <input (ngModelChange)="updateFilter($event)" [(ngModel)]="filterString" aria-describedby="search-button"
             aria-label="Rechercher" class="form-control"
             placeholder="Filtrer (titre/description/porteur/groupe)" type="search">
    </div>
  </div>

  <div *ngIf="projects && !projectsLoading else loadTemplate">
    <ngx-datatable
      #projectsTable
      [columnMode]="ColumnMode.force"
      [footerHeight]="50"
      [headerHeight]="50"
      [rowHeight]="70"
      [scrollbarH]="true"
      [limit]="10"
      [loadingIndicator]="datatableLoading"
      [messages]="{emptyMessage: 'Aucun projet', totalMessage: 'Total', selectedMessage: 'Selectionné'}"
      [rows]="projects"
      class="material shadow-none rounded border h-100"
    >

      <ngx-datatable-column name="title" [width]="300">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Titre</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="fw-bold text-wrap">{{row.title}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="150" name="username">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Porteur</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.owner.name}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="budget">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Budget demandé</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.budget | currency:"EUR":"":"1.0-2"}} €</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="budget">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Budget alloué</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
                  [class.text-success]="row.allocatedBudget > row.budget"
                  [class.text-danger]="row.allocatedBudget < row.budget"
          >{{row.allocatedBudget | currency:"EUR":"":"1.0-2"}} €</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="workgroup">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Groupe de travail</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.workgroup}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="status">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Statut</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="badge bg-{{row.status | statusColor}}">{{row.status | statusConverter}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions" [sortable]="false">
        <ng-template ngx-datatable-header-template>
          <span>Actions</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a target="_blank" class="btn btn-sm rounded btn-outline-primary me-1"  [routerLink]="['/projects', row.id]" ngbTooltip="Aperçu projet">
            <i class="bi-box-arrow-up-right"></i>
          </a>
          <button class="btn btn-sm rounded btn-outline-danger" (click)="deleteProject(row)" ngbTooltip="Supprimer projet">
            <i class="bi-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</div>

<ng-template #loadTemplate>
  <span class="spinner-border text-info spinner-border-sm me-2"></span>
  <span class="text-info">Chargement en cours...</span>
</ng-template>

