<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>
  <div class="container">
    <div class="d-flex align-items-start justify-content-between gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-4 text-white" data-aos="zoom-in">Dépôt de projet</h1>
        <p class="h3 fw-light text-light" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
          {{session?.name}}
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="400">
        <span style="height: 220px" class="text-center">
          <i class="bi-lightbulb text-white" style="font-size: 125px"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container py-5">
    <form [formGroup]="projectForm" (ngSubmit)="saveProject()">
      <fieldset>
        <div class="row g-3">
          <!-- Title input -->
          <div class="col-md-8 form-group required">
            <label for="title" class="form-label h4 fw-normal text-primary">Titre du projet</label>
            <input type="text" class="form-control" id="title" aria-describedby="titleHelp" formControlName="title"
                   [maxLength]="60"
                   [class.is-valid]="projectForm.controls['title'].valid"
                   [class.is-invalid]="projectForm.controls['title'].invalid && projectForm.controls['title'].touched"
                   required>
            <div id="titleHelp" class="form-text">{{projectForm.value.title?.length || 0}}/60 caractères</div>
          </div>

          <!-- Category Input -->
          <div class="col-md-4 form-group required">
            <label for="category" class="form-label h4 text-primary fw-normal">Catégorie</label>
            <select id="category" class="form-select" formControlName="category">
              <option *ngFor="let cat of projectCategories" [ngValue]="cat">{{cat.name}}</option>
            </select>
          </div>
        </div>

        <div class="mt-3">
          <div class="drop-container" appDropfile (fileDropped)="headerImageDropped($event)"
               *ngIf="!projectForm.value['headerImage'] else displayHeaderPreview">
            <input type="file" id="headerImageDrop" multiple (change)="onFilePicked($event, 'headerImage')"
                   accept=".png,.jpeg,.jpg"/>
            <i class="bi-card-image h1 text-primary fw-bold"></i>

            <span class="h5 text-primary">Déposer l'image de présentation</span>
            <span class="mb-2">ou</span>
            <label for="headerImageDrop" class="btn btn-primary align-self-center p-2 cursor-pointer">Importer depuis
              mes fichiers</label>
          </div>

          <ng-template #displayHeaderPreview>
            <div class="d-flex gap-3 flex-wrap-reverse">
              <img #headerImg alt="Image de présentation du projet" height="200" class="rounded-2 shadow-sm"
                   [src]="preview.get('headerImage')" style="max-width: 100%" (load)="headerImg.naturalHeight">
              <p>
                <span class="h5 text-primary">Image de présentation</span><br>
                <span><strong>Résolution : </strong>{{headerImg.naturalWidth}}px x {{headerImg.naturalHeight}}px</span>
                <br>
                <span class=""><strong>Ratio : </strong>
                  <span
                    *ngIf="isHeaderRatioOk(headerImg.naturalWidth, headerImg.naturalHeight) else headerRatioNok"><strong
                    class="text-success">OK</strong></span> <span class="small text-muted"> (format idéal : entre 4/3 et 16/9)</span></span>
                <ng-template #headerRatioNok><strong class="text-danger">Image déconseillée</strong></ng-template>
                <br>
                <button type="button" class="btn btn-sm btn-outline-danger mt-2"
                        (click)="projectForm.patchValue({'headerImage': null}); preview.delete('headerImage')">Supprimer
                </button>
              </p>
            </div>
          </ng-template>
        </div>

      </fieldset>

      <hr class="mt-5">

      <fieldset>
        <h2 class="h4 fw-normal required text-primary">Le porteur</h2>
        <p class="text-muted small"><i class="bi-info-circle-fill me-1"></i>Qui porte le projet ? Ton nom sera affiché
          mais tu peux mentionner un groupe de travail (ou une asso).</p>

        <div class="row mb-3 g-3">
          <div class="col-md-6">
            <label class="form-label fw-bold">Nom du porteur</label>
            <input type="hidden" class="form-control" id="name" aria-describedby="nameHelp" formControlName="owner">
            <p>{{projectForm.controls['owner'].value?.name}}</p>
          </div>

          <!-- Workgroup input -->
          <div class="col-md-6">
            <label for="workgroup" class="form-label fw-bold">Groupe de travail</label>
            <input type="text" class="form-control" id="workgroup"
                   formControlName="workgroup"
                   [maxLength]="40">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group required">
            <label for="phone" class="form-label fw-bold">Téléphone</label>
            <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" formControlName="phone"
                   [maxLength]="10"
                   [class.is-valid]="projectForm.controls['phone'].valid"
                   [class.is-invalid]="projectForm.controls['phone'].invalid && projectForm.controls['phone'].touched"
                   required>
            <span id="phoneHelp" class="form-text">Numéro de téléphone au format 0600000000</span>
          </div>
        </div>
      </fieldset>

      <hr class="mt-5">
      <fieldset>
        <h2 class="h4 text-primary fw-normal required">En bref.</h2>
        <p class="text-muted small"><i class="bi-info-circle-fill me-1"></i>Décris ton projet en quelques mots. Cette
          description sera affichée dans les miniatures du projet. Les
          retours à la ligne ne seront pas pris en compte.</p>
        <div class="row g-3">
          <!-- Description input -->
          <div class="col-md-12 form-group required">
            <label for="description" class="form-label visually-hidden">En bref.</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description" [maxLength]="240"
                      [class.is-valid]="projectForm.controls['description'].valid"
                      [class.is-invalid]="projectForm.controls['description'].invalid && projectForm.controls['description'].touched"
                      required></textarea>
            <div id="descriptionHelp" class="form-text">{{projectForm.value.description?.length || 0}}/240 caractères
            </div>
          </div>
        </div>
      </fieldset>

      <hr class="mt-5">
      <fieldset>
        <h2 class="h4 text-primary fw-normal required">Description du projet</h2>
        <p class="text-muted small"><i class="bi-info-circle-fill me-1"></i>Décris ton projet en détail, n'hésite pas à
          utiliser le formattage. Si tu souhaites importer une plaquette de présentation, c'est dans "Documents
          supplémentaires" que ça se passe.</p>

        <div class="w-100">
          <quill-editor
            class="w-100"
            [placeholder]="'Bonne rédaction !'"
            [formats]="quillFormats"
            [modules]="quillModules"
            [required]="true"
            [sanitize]="true"
            [styles]="{height: '400px'}"
            formControlName="details"
            format="html">
          </quill-editor>
        </div>
      </fieldset>

      <hr class="mt-5">
      <fieldset>
        <h2 class="h4 text-primary fw-normal required">Budget</h2>
        <p class="text-muted small"><i class="bi-info-circle-fill me-1"></i>Indique le montant demandé pour ton projet (estimation ou devis).
          Il est obligatoire d'importer le budget détaillé avec les montants HT et TTC (PDF).</p>

        <div class="row g-3">
          <!-- Budget input -->
          <div class="col-md-6 form-group required">
            <label for="budget" class="form-label fw-bold">Budget</label>
            <div class="input-group">
              <input type="number" class="form-control" id="budget" aria-describedby="budgetHelp"
                     formControlName="budget"
                     [class.is-valid]="projectForm.controls['budget'].valid"
                     [class.is-invalid]="projectForm.controls['budget'].invalid && projectForm.controls['budget'].touched"
                     required>
              <span class="input-group-text">€ TTC</span>
            </div>
            <div id="budgetHelp" class="form-text">Montant en euros TTC</div>
          </div>

          <div class="col-md-6 form-group required">

            <!-- Budget file input -->
            <div class="drop-container" appDropfile (fileDropped)="budgetFileDropped($event)"
                 *ngIf="!projectForm.value['budgetFile'] else budgetFilePreview">
              <input type="file" id="budgetFile"
                     aria-describedby="budgetFileHelp"
                     (change)="onFilePicked($event, 'budgetFile')"
                     [class.is-valid]="projectForm.controls['budgetFile'].valid"
                     [class.is-invalid]="projectForm.controls['budgetFile'].invalid && projectForm.controls['budgetFile'].touched"
                     required accept="application/pdf,.pdf">
              <i class="bi-filetype-pdf h1 text-primary fw-bold"></i>

              <span class="h5 text-primary">Déposer le budget détaillé (PDF uniquement)</span>
              <span class="mb-2">ou</span>
              <label for="budgetFile" class="btn btn-primary align-self-center p-2 cursor-pointer">Importer depuis
                mes fichiers</label>
            </div>

            <ng-template #budgetFilePreview>
              <div class="d-flex gap-2 flex-column">
                <div class="h6">
                  <i class="bi-file-pdf fw-bold text-primary"></i> Budget détaillé
                </div>
                <div class="d-flex flex-wrap gap-2">
                  <a target="_blank" class="btn btn-sm btn-info" ngbTooltip="Aperçu"
                     [href]="preview.get('budgetFile')">
                    <i class="bi-eye"></i> Aperçu
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-danger" ngbTooltip="Supprimer"
                          (click)="projectForm.patchValue({'budgetFile': null}); preview.delete('budgetFile')">
                    <i class="bi-trash"></i> Supprimer

                  </button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </fieldset>

      <hr class="mt-5">
      <fieldset>
        <h2 class="h4 text-primary fw-normal">Documents supplémentaires</h2>
        <p class="text-muted small"><i class="bi-info-circle-fill me-1"></i>Si tu souhaites importer une plaquette de
          présentation ou des images supplémentaires, c'est ici que ça se passe.</p>

        <div class="row g-3 mt-3">
          <div class="drop-container col " appDropfile (fileDropped)="additionalDocumentsDropped($event)">
            <input type="file" id="additionalDocumentsDrop" multiple
                   (change)="onAttachmentPick($event)"
                   accept="image/jpeg,image/png,image/jpg,.png,.jpeg,.jpg,.pdf,.xlsx,.odt,.ods,.docx"/>
            <i class="bi-file-earmark-arrow-down-fill h1 text-primary fw-bold"></i>

            <span class="h5 text-primary">Déposer les documents additionnels</span>
            <span class="mb-2">ou</span>
            <label for="headerImageDrop" class="btn btn-primary align-self-center p-2 cursor-pointer">Importer depuis
              mes fichiers</label>
          </div>
          <div class="col-md-6 col-lg-7 col-xl-9" *ngIf="attachments.length > 0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let attachment of attachments">
                <div class="row">
                  <div class="col-md-4 small">
                    <label for="attachmentTypeSelect" class="form-label small fw-bold">Type de document</label>
                    <select id="attachmentTypeSelect" class="form-select form-select-sm"
                            [disabled]="attachment.id !== undefined"
                            (ngModelChange)="attachmentTypeSelect($event, attachment)"
                            [(ngModel)]="attachment.type" name="attachmentTypeSelect"
                            [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let attachmentType of attachmentTypes"
                              [ngValue]="attachmentType">{{attachmentType.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-6 small">
                    <label for="attachmentName" class="form-label small fw-bold">Nom du fichier</label>
                    <input type="text" id="attachmentName" class="form-control form-control-sm"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="attachment.name" [disabled]="!attachment.type.canEditFileName || attachment.id !== undefined">
                  </div>
                  <div class="col-md-2 align-self-end d-flex gap-1">
                    <button ngbTooltip="Supprimer" type="button" class="btn btn-sm btn-outline-danger mt-2"
                            (click)="removeAttachment(attachment)">
                      <i class="bi-trash"></i>
                    </button>
                    <a ngbTooltip="Aperçu" class="btn btn-sm btn-outline-primary mt-2"
                       [href]="attachment.preview" target="_blank">
                      <i class="bi-eye"></i>
                    </a>
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>
      </fieldset>

      <div class="w-100 d-flex flex-column align-items-center g-1">
        <button type="submit" class="btn btn-lg rounded-5 btn-primary mt-5" style="max-width: 400px; width: 100%"
                [disabled]="projectForm.invalid || isSaving"><i
          class="bi-save me-1"></i> {{projectEditCache && projectEditCache.id ? "Enregistrer les modifications" : "Déposer le projet"}}
        </button>
        <span *ngIf="isSaving"><span class="spinner-border spinner-border-sm text-info me-1"></span>{{isSaving}}</span>
      </div>
    </form>

  </div>
</div>
