h2.required {
  &:after {
    content: "*";
    color: var(--bs-danger);
    margin-left: 5px;
  }
}

.drop-container {
  &.fileover {
    border: dashed 1px #979797;
    background-color: #f5f5f5;
  }

  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  cursor: pointer;

  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
