<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>

  <div class="container">
    <div class="d-flex align-items-start justify-content-lg-between flex-lg-row flex-column gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-1 text-white" data-aos="zoom-in">Budget participatif étudiant</h1>
        <p class="h3 fw-light text-light" data-aos="fade-up" data-aos-easing="ease"
           data-aos-delay="400">{{currentSession?.name}}</p>
      </div>
      <app-session-calendar-card [session]="currentSession"></app-session-calendar-card>
    </div>
  </div>
</div>

<div class="bg-light z-index-1">
  <div class="container py-5 px-0">
    <app-about></app-about>
  </div>
  <div class="container-fluid bg-white mt-4">
    <app-timeline [session]="currentSession" class="position-relative" style="top:-2.3rem;"></app-timeline>
  </div>
  <div class="container-fluid bg-white py-5">
    <div class="container" *ngIf="displayProjectsCarrousel">
      <div class="d-flex gap-1 align-items-center">
        <h2 class="display-6" data-aos="fade-right">Les projets</h2>
        <button class="btn rounded-circle" (click)="carrousel.getRandomProjects()">
          <i class="bi-arrow-clockwise fs-5"></i>
        </button>
      </div>
      <p class="lead pb-3" data-aos="fade-right">Une sélection aléatoire de projets - {{currentSession?.name}}</p>
      <app-projects-carrousel #carrousel [session]="currentSession"></app-projects-carrousel>
    </div>

    <div class="container d-flex justify-content-center" *ngIf="activeStep?.timelineItem.id === 'DEPOSIT'">
      <button class="btn btn-danger btn-lg rounded-pill text-white mt-2 px-5" [routerLink]="['/projects', 'new']">
        <span class="d-block small text-white fw-light">Étudiant UTC ?</span>
        Déposer un projet
      </button>
    </div>
  </div>

  <div class="container-fluid bg-info-gradient">
    <div class="container py-5">
      <app-rules></app-rules>
    </div>
  </div>
</div>
