<form #form="ngForm" (ngSubmit)="save($event)">
  <div class="modal-header">
    <h1 class="modal-title fs-4">{{session.id ? "Édition" : "Création"}} session</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="errors">
      <div class="d-flex">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div class="small">
          <ul>
            <li *ngFor="let error of errors">
              <small>{{error}}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- bootstrap form in two parts, "général" and "étapes" -->
    <div class="mb-2">
      <h2 class="fs-5">Général</h2>
      <div class="form mb-3">
        <label for="name" class="fw-semibold">Nom de la session</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Session xxxx-xxxx"
               [(ngModel)]="session.name" required>
      </div>
      <div class="mb-3">
        <label for="slug" class="fw-semibold">Slug</label>
        <input name="slug" type="text" class="form-control" id="slug" placeholder="20xx-20xx"
               [(ngModel)]="session.slug" required>
        <small class="form-text text-muted">Le slug est utilisé pour générer l'URL de la session <small>(https://bpe.utc.fr/<i>{{session.slug ? session.slug : "20xx-20xx"}}</i>)</small></small>
      </div>
      <div class="mb-3 form-check form-switch">
        <input name="deleted" type="checkbox" class="form-check-input" id="deleted" [(ngModel)]="session.deleted">
        <label for="deleted" class="fw-semibold form-check-label  ">Masquée</label>
        <small class="form-text text-muted d-block">Si la session est masquée, elle n'apparaîtra pas sur le site</small>
      </div>
    </div>
    <div class="border-top pt-3">
      <h2 class="fs-5">Étapes</h2>
      <div class="d-flex flex-column gap-3">
        <div *ngFor="let ti of session.timelineSteps; let i=index">
          <div class="d-flex gap-2 align-items-start">
            <span class="fw-bold text-primary fs-5">{{i + 1}}</span>
            <div class="d-flex flex-column">
              <span class="fw-semibold">{{ti.timelineItem.name}}</span>
              <div class="d-flex gap-2 flex-wrap">
                <div class="d-flex gap-2 align-items-center">
                  Du <input [name]="ti.id+'-start'" type="date" class="form-control form-control-sm" [(ngModel)]="ti.start" useValueAsDate>
                </div>
                <div class="d-flex d-flex gap-2 align-items-center">
                  au <input [name]="ti.id+'-end'" type="date" class="form-control form-control-sm" [(ngModel)]="ti.end" useValueAsDate>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-center text-danger small w-100" *ngIf="displayBottomErrorMessage">
      <i class="bi bi-exclamation-triangle-fill me-2"></i> Le formulaire contient des erreurs<i class="bi bi-exclamation-triangle-fill ms-2"></i>
    </div>
    <div class=" d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')"><i
        class="bi bi-times"></i> Annuler
      </button>
      <button type="submit" class="btn btn-success"><i class="bi bi-save"></i> Enregistrer</button>
    </div>
  </div>
</form>
