.bg-gray-500 {
  background-color: var(--bs-gray-500);
}

ngb-carousel {
  align-self: center;
  max-width: 600px;

  .text-backdrop {
    padding: 5px;
    backdrop-filter: contrast(30%);
  }
}

ngb-carousel .picsum-img-wrapper {
  //position: relative;
  height: 400px;
  //backdrop-filter: contrast(70%);
  background-color: var(--bs-gray-500);
  text-align: center;
}

ngb-carousel .picsum-img-wrapper > img {
  width: auto;
  height: 400px;
  max-height: 400px;
}
