<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>

  <div class="container">
    <div class="d-flex align-items-start justify-content-lg-between flex-lg-row flex-column gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-1 text-white" data-aos="zoom-in">Les projets</h1>
        <p class="h3 fw-light text-light" data-aos="fade-up" data-aos-easing="ease"
           data-aos-delay="400">{{session?.name}}</p>
      </div>
      <app-session-calendar-card [session]="session" [displayCTA]="false"></app-session-calendar-card>
    </div>
  </div>
</div>

<article class="container align-self-center py-5">
  <div class="d-flex flex-wrap justify-content-between align-items-md-end flex-column flex-md-row">
    <div>
      <h2 class="fs-2">Tous les projets</h2>
      <p class="lead">
        {{projects?.length}} projet{{(projects?.length || 0) > 0 ? 's' : ''}}
      </p>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="detailedViewSwitch" [(ngModel)]="detailedView">
      <label class="form-check-label" [class]="detailedView ? 'text-primary':'text-muted'" for="detailedViewSwitch">Vue
        détaillée</label>
    </div>
  </div>

  <div class="transition-ease-all row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-1"
       [class]="detailedView?'g-4 g-md-5':'g-4'">
    <div class="col-12" data-aos-anchor-placement="top-bottom" data-aos="zoom-in" *ngFor="let project of projects">
      <app-project-card [project]="project" [showDetails]="detailedView"></app-project-card>
    </div>
  </div>
</article>
