<div class="card shadow border-0 h-100" *ngIf="project" [class.hoverable]="!showDetails">
  <a class="hover-action" *ngIf="!showDetails" [routerLink]="['/projects', project.id]"></a>

  <span class="position-absolute top-0 end-0 badge rounded-pill bg-light text-dark small mt-2 me-2">
    {{project.category.name}}
  </span>

  <a [routerLink]="['/projects', project.id]" *ngIf="project.getHeaderImage() as headerImage else imgTopPlaceholder">
    <img class="card-img cover"
         [src]="headerImage.resourcePath" [height]="220"
         alt="Image projet">
  </a>

  <div class="overlay d-flex flex-column" *ngIf="!showDetails">
    <p class="img-text">
      {{project.title}}
    </p>
    <p class="additional-text">
      {{project.description}}
    </p>
  </div>

  <div class="card-body" *ngIf="showDetails">
    <a class="text-decoration-none" [routerLink]="['/projects', project.id]"><h3
      class="card-title fs-5 text-dark">{{project.title}}</h3></a>
    <span class="badge rounded-pill bg-info mb-2" *ngIf="project.realised"><i
      class="bi-check-circle-fill me-1"></i>Réalisé</span>
    <p class="card-text small">{{project.description}}</p>
  </div>

  <div class="card-footer justify-content-between d-flex align-items-center" *ngIf="showDetails">
    <div>
      <app-project-vote-button [project]="project"></app-project-vote-button>
      <span class="text-muted small ms-1">{{project.votantsCount}}<span class="visually-hidden">votants</span></span>

    </div>

    <button class="btn btn-sm rounded-pill btn-outline-primary" [routerLink]="['/projects', project.id]">
      Voir plus
      <i class="bi-arrow-right"></i>
    </button>
  </div>

</div>

<ng-template #imgTopPlaceholder>
  <span style="height: 220px" class="text-center">
    <i class="bi-card-image text-muted" style="font-size: 150px"></i>
  </span>
</ng-template>
