@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.overlay {
  position: absolute;
  bottom: 0;
  padding: 35px 15px 0 15px;
  width: 100%;
  max-height: 100%;
  overflow: hidden;

  background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));

  .img-text {
    width: 100%;
    font-size: $small-font-size;
    font-weight: bold;
    color: white;
    transition: .3s;
  }

  .additional-text {
    display: block;
    max-height: 0;
    transition: max-height ease-out 0.15s;
    overflow: clip;
    text-overflow: ellipsis;
    font-size: small;
    color: white;
  }
}

.card.hoverable{
  transition: all ease .3s;

  &:hover {
    scale: 1.05;

    .additional-text {
      transition: max-height 0.25s ease-in;
      max-height: max-content;
    }

    .img-text {
      font-size: large;
    }
  }

  .card-img {
    border-radius: 0;
  }
}

.hover-action {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}

.cover {
  background-color: white;
  object-fit: contain;
  width: 100%;
  height: 220px;
}
