<div class="offcanvas-header">
  <h5 class="offcanvas-title">Aperçu projet</h5>
  <button
    type="button"
    class="btn-close text-reset"
    aria-label="Close"
    (click)="activeOffcanvas.dismiss('Cross click')"
  ></button>
</div>
<div class="offcanvas-body overflow-auto vh-100" *ngIf="project">
  <app-project-details [project]="project" [compact]="true"></app-project-details>
</div>
