<div class="container mb-3">
  <h1 class="mt-3 h3 fw-light">Mes votes</h1>
  <p class="lead">{{session.name}}</p>
  <p class="text-info small" *ngIf="myProjects.length === 0">
    <i class="bi-info-circle-fill me-1"></i>
    Vous n'avez voté pour aucun projet.
  </p>
  <ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start mw-100" *ngFor="let project of myProjects" >
      <a class="text-decoration-none ms-2 me-auto d-block flex-grow-1" style="max-width: calc(100% - 28px)" [routerLink]="['/projects', project.id]" (click)="closeOffCanvas()">
        <div class="fw-bold text-primary">{{project.title}}</div>
        <span class="small text-muted no-wrap">{{project.description}}</span>
      </a>
      <app-project-vote-button [project]="project"></app-project-vote-button>
    </li>
  </ol>

</div>
