.content {
  position: absolute;
  width: 100%;
  top: 66px;
  //background-color: var(--bs-light);
}

app-toast {
  position: fixed;
  right: 15px;
  top: 70px;
  min-width: 250px;
  z-index: 99999;
}
