<app-navbar></app-navbar>

<div class="content">
  <router-outlet name="primary" #outlet="outlet"></router-outlet>
  <div class=" bg-dark py-3">
    <div class="container d-flex justify-content-center">
  <span class="text-center text-white">Site réalisé par
    <a target="_blank" class="fw-bold text-white text-decoration-none"
       href="https://www.linkedin.com/in/lo%C3%AFc-jumel/">Loïc JUMEL</a> pour le <span
      class="fw-bold">BVE UTC</span></span>
    </div>
    <div class="container d-flex justify-content-center small gap-2">
      <a [routerLink]="['/legal-notice']" class="link-light">Mentions légales</a>
    </div>
  </div>
</div>

<app-toast aria-atomic="true" aria-live="polite"></app-toast>



