<ng-template #loadingSpinner>
  <span class="spinner-border spinner-border-sm text-info" role="status" aria-hidden="true"></span>
</ng-template>

<ng-container *ngIf="!isLoading; else loadingSpinner">
  <button class="btn rounded-circle p-0 px-1 position-relative" *ngIf="userCanVote else heartIcon"
          (click)="toggleVote()"
          [ngbTooltip]="userHasVoted ? 'Retirer mon vote' : 'Voter pour ce projet'"
  >
    <ng-container [ngTemplateOutlet]="userHasVoted ? heartIconFill : heartIcon"></ng-container>
  </button>
</ng-container>

<ng-template #heartIcon>
  <i class="bi-heart text-danger"></i>
</ng-template>
<ng-template #heartIconFill>
  <i class="bi-heart-fill text-danger"></i>
</ng-template>

<!-- Toast content if user has already voted for 3 projects, provide ability to open votesPanel in offcanvas -->
<ng-template #moreThan3Votes>
  <div class="d-flex align-items-center">
    <i class="bi-info-square-fill fs-4 me-2"></i>
    <span class="fw-bold">Vous avez déjà voté pour 3 projets</span>
  </div>
  <button class="btn btn-sm w-100 btn-outline-primary" (click)="openVotesPanel()">Gérer mes votes</button>
</ng-template>
