<ng-container
  *ngFor="let toast of toastService.toasts">
  <ngb-toast
    [@fadeInAnimation]="toast"
    (hidden)="toastService.remove(toast)"
    [autohide]="toast.options.autohide"
    [class]="toast.options.className"
    [delay]="toast.options.delay || 5000"
    [header]="toast.title"
  >
    <ng-template *ngIf="isTemplate(toast.content) else textContent"
                 [ngTemplateOutlet]="getTemplate(toast.content)"></ng-template>
    <ng-template #textContent>
      <div class="d-flex" (click)="closeToast(toast)">
        <i *ngIf="toast.options.icon" [class]="toast.options.icon" style="font-size: 1.5rem"></i>
        <span class="ms-2 align-self-center">{{ toast.content }}</span>
      </div>
    </ng-template>
  </ngb-toast>
</ng-container>
