<section>
  <h1 class="h6 fw-light">Commentaires</h1>

  <ng-container *ngIf="(project.comments && project.comments.length > 0) else noComments">
    <div class="d-flex flex-column gap-2">
      <div class="d-flex gap-2 small align-items-start" *ngFor="let comment of project.comments">
        <div class="d-flex flex-column">
          <i class="bi-person-fill text-primary"></i>
          <i [class]="comment.published ? 'bi-eye-fill text-info' : 'bi-eye-slash-fill text-danger'"
             class="cursor-pointer"
             (click)="togglePublishedForComment(comment)"
             *appHasRole="UserRole.ROLE_ADMIN"></i>
        </div>
        <div class="flex-fill">
          <div class="d-flex justify-content-between">
            <span class="fw-bold text-primary">{{comment.user}}</span>
            <span class="text-muted small">{{comment.date | date:'short'}}</span>
          </div>
          <span class="small cursor-pointer text-info" [class.text-danger]="!comment.published" *appHasRole="UserRole.ROLE_ADMIN"
                (click)="togglePublishedForComment(comment)"
                [ngbTooltip]="'Cliquer pour ' + (comment.published ? 'masquer' : 'publier')"
                [class.text-primary]="comment.published">{{comment.published ? 'Publié' : 'Masqué'}}</span>
          <p class="text-muted small">{{comment.content}}</p>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-container *appHasRole="UserRole.ROLE_ADMIN">
    <!-- Add comment zone -->
    <div class="d-flex gap-2 small align-items-start">
      <i class="bi-person-fill text-primary"></i>
      <div class="flex-fill">
        <div class="d-flex justify-content-between">
          <span class="fw-bold text-primary">{{newComment.user}}</span>
        </div>
        <div class="d-flex align-items-end gap-1">
          <textarea class="form-control flex-grow-1 comment-zone" rows="2" [(ngModel)]="newComment.content"></textarea>
          <button class="btn btn-primary btn-sm flex-grow-0 mt-2" *appHasRole="UserRole.ROLE_ADMIN"
                  (click)="addComment()"
                  ngbTooltip="Ajouter un commentaire">
            <i class="bi-send me-2"></i>
            <span class="visually-hidden">Ajouter un commentaire</span>
          </button>
        </div>
      </div>
    </div>

  </ng-container>


  <ng-template #noComments>
    <em class="text-muted small">Aucun commentaire</em>
  </ng-template>
</section>


