<div class="modal-header">
  <h1 class="modal-title fs-4">Envoi du mail de résultat</h1>
  <div>
    <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="closeModal('cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
    <span class="text-warning" *ngIf="!project">
      <i class="bi bi-exclamation-circle-fill me-1"></i> Aucun projet fourni :)
    </span>
  <span class="text-danger" *ngIf="error">
      <i class="bi bi-exclamation-triangle-fill me-1"></i> {{error}}
    </span>
  <div class="mail-preview" [innerHTML]="preview">

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal('close button click')">
    <i class="bi bi-x-lg me-1"></i>
    Fermer
  </button>
  <button type="button" class="btn btn-primary" (click)="sendResultMail()" *ngIf="!error">
    <i class="bi bi-envelope-fill me-1"></i>
    Envoyer</button>
</div>
