@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


.project-side-img {
  object-fit: cover;
  height: 100% !important;
  transition: all 1.5s ease;
}

@include media-breakpoint-down(md) {
  .project-side-img {
    max-height: 200px;
  }
}
