<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>
  <div class="container">
    <div class="d-flex align-items-start justify-content-between gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-4 text-white" data-aos="zoom-in">Mon profil</h1>
        <p class="h3 fw-light text-light" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
          {{authenticatedUser.name}}
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="400">
        <span class="text-center">
          <i class="bi-person-fill text-white" style="font-size: 75px"></i>
        </span>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-light">
  <div class="container py-5">
    <h2 class="fw-light">Mes projets déposés</h2>
    <div class="d-flex flex-column gap-5" *ngIf="sessionsProjectsMap.size > 0 else noProjects">
      <div *ngFor="let session of sortedSessions">
        <h3 class="fw-light h4">{{session.name}}</h3>
        <div class="card mb-3" *ngFor="let project of sessionsProjectsMap.get(session)">
          <div class="row g-0">
            <div class="col-md-4 col-lg-3 col-xl-2">
              <img *ngIf="project.getHeaderImage() as header_image" alt="Image projet"
                   [src]="header_image.resourcePath"
                   class="img-fluid rounded-start w-100 h-auto project-side-img">
              <span class="badge small text-primary bg-light position-absolute start-0">{{project.category.name}}</span>
            </div>
            <div class="col-md-8 col-lg-9 col-xl-10">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-lg-7 col-xl-8">
                    <div class="d-flex gap-2 flex-wrap align-items-baseline">
                      <h5 class="card-title text-primary p-0">{{project.title}}</h5>
                    </div>
                    <p class="card-text small">{{project.description}}</p>
                    <hr>
                    <app-project-comments [project]="project"></app-project-comments>
                  </div>
                  <div class="col small">
                    <div>
                      <span class="fw-bold me-1">Statut :</span>
                      <span class="badge bg-{{project.status | statusColor}}">{{project.status | statusConverter}}</span>
                    </div>
                    <div class="d-flex flex-column">
                      <button class="btn btn-primary btn-sm mt-2" [routerLink]="['/projects', project.id]">
                        <i class="bi-eye-fill me-2"></i> Voir le projet
                      </button>
                      <button *ngIf="canEditProject(project, session)" class="btn btn-outline-info btn-sm mt-2"
                              [routerLink]="['/projects', project.id, 'edit']">
                        <i class="bi-pencil-fill me-2"></i> Modifier le projet
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #noProjects>
  <i class="bi-info-circle-fill text-info me-2"></i>
  <span class="text-muted">Aucun projet déposé :)</span>
</ng-template>
