.timeline .col > .line-container::before {
  content: "";
  display: block;
  border-top: 4px var(--bs-gray-500) solid;
  width: calc(50% + .5rem);
  left: -1.5rem;
  position: relative;
  top: calc(0.3vw + 0.7rem + 4px);
}

.timeline .col > .line-container::after {
  content: "";
  display: block;
  border-top: 4px var(--bs-gray-500) solid;
  width: calc(50% + .5rem);
  position: relative;
  top: calc(0.3vw + 0.7rem);
  left: calc(50% + 1rem);
}

.timeline {
  i {
    z-index: 1;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
  }

  .col:first-of-type {
    .line-container::before {
      border-color: var(--bs-info);
    }
  }

  .timeline-done {
    color: var(--bs-info);

    .line-container::after, & + div > .line-container::before {
      border-color: var(--bs-info);
    }
  }

  .timeline-ongoing {
    color: var(--bs-primary);

    .line-container::after {
      border-color: var(--bs-primary);
    }
  }

  .timeline-future {
    color: var(--bs-gray-500);

    .line-container::after {
      border-color: var(--bs-gray-500);
    }
  }
}

