<div class="row timeline overflow-hidden" id="timeline-top">
  <div *ngFor="let step of session?.timelineSteps"
    class="col d-flex flex-column align-items-center p-3"
       [class.timeline-done]="step.end < now"
       [class.timeline-future]="step.start > now"
       [class.timeline-ongoing]="step.start < now && step.end > now"
       data-aos="fade-right" data-aos-duration="300" data-aos-easing="ease-out">
    <span class="line-container w-100"></span>
    <i class="fs-3"
       [class.bi-check-circle-fill]="step.end < now"
       [class.bi-pause-circle-fill]="step.start > now"
       [class.bi-play-circle-fill]="step.start < now && step.end > now"
    ></i>
    <span class="fw-bold text-center">{{step.timelineItem.name}}</span>
    <span class="text-muted small text-center">{{step.start | date:'shortDate'}} - {{step.end | date:'shortDate'}}</span>
  </div>
</div>
