.menu {
  ul {
    list-style: none;
    li > a {
      text-decoration: none;
      position: relative;
      list-style: none;
      height: 50px;
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      display: flex;
      align-items: center;

      &:hover {
        background-color: var(--bs-danger);
        color: white;
      }

      i {
        font-size: 1.25rem;
        margin-right: 1rem;
      }

      font-size: 1.15rem;
      color: white;

      &.active {
        background-color: var(--bs-danger);
        color: white;
      }
    }
  }
  padding: 0;
  position: sticky;
  height: 50px;
  top: 75px;
}
