<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>
  <div class="container">
    <div class="d-flex align-items-start justify-content-between gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-4 text-white" data-aos="zoom-in">Administration</h1>
        <p class="h3 fw-light text-light" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
          Outils de gestion du site
        </p>
        <div class="d-flex flex-wrap gap-3">
          <span class="py-2 text-danger fw-bold" data-aos="fade-up" data-aos-easing="ease"
                data-aos-delay="500">De grands pouvoirs impliquent de grandes responsabilités :)</span>
        </div>
      </div>
      <div data-aos="zoom-in" data-aos-delay="400">
        <span style="height: 220px" class="text-center">
          <i class="bi-person-fill-gear text-white" style="font-size: 125px"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column pb-5">
  <div class="menu shadow-sm bg-info d-none d-md-block z-index-1">
    <ul class="container d-flex justify-content-end">
      <li>
        <a routerLinkActive="active" [routerLink]="['/admin', 'projects']"
           class="justify-content-center justify-content-md-start"
        >
          <i class="bi-lightbulb-fill"></i>
          Projets
        </a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['/admin', 'sessions']"
           class="justify-content-center justify-content-md-start"
        >
          <i class="bi-clock-fill"></i>
          Sessions
        </a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['/admin', 'users']"
           class="justify-content-center justify-content-md-start"
        >
          <i class="bi-people-fill"></i>
          Utilisateurs
        </a>
      </li>
    </ul>

  </div>

  <div class="container-fluid h-100 rounded-4 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>

