<div class="container-fluid d-flex px-3 py-5 px-md-5 align-content-center flex-column flex-md-row">
  <img src="assets/img/404.png" style="width: 30%" alt="404 image">
  <div class="ps-md-4">
    <h1 class="display-2">Accès refusé</h1>
    <p>Vos droits sont insuffisants pour accéder à cette page.</p>
    <p>Si c'est une erreur merci de contacter l'administrateur en donnant ce détail :</p>
    <code>
      Route précédente : {{parentRouteDetails}}
      <br>
      Route activée : {{triedURL}}
      <br>
      Droits utilisateur : {{userRights | json}}
      <br>
      Droits attendus : {{expectedRights}}
    </code>
  </div>
</div>
