// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

@import "theme";

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$enable-negative-margins: true;

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.dropdown-menu {
  a:active {
    background-color: inherit;
    color: inherit;
  }
}


.dropdown-menu {
  box-shadow: $box-shadow-lg;

  a {
    cursor: pointer;
  }
}

html, body {
  overflow-x: hidden;
}

.bg-info-gradient {
  background-image: linear-gradient(to top, #55aa8d, #4fa185, #48977d, #428e75, #3c856d);
}

.z-index-1 {
  z-index: 1;
}

.transition-ease-all {
  transition: all ease .3s;
}

.header {
  padding-top: 5rem;
  padding-bottom: calc(5rem);
  background-image: linear-gradient(to right bottom, #184e5b, #1a646d, #257b7b, #399386, #55aa8d);
  z-index: 0;
  position: relative;
}

// Scrollbars
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: transparentize($gray-600, .95)
}

::-webkit-scrollbar-thumb {
  background-color: transparentize($gray-600, .6);
  border-radius: 14px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $gray-600;
}

app-session-calendar-card {
  width: 350px;
  max-width: 100%;
}

.gallery {
  height: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.gallery img {
  max-width: 100%;
  border-radius: 8px;
  transition: all 1.5s ease;
}

.gallery .content {
  padding: 4px;
}

.gallery .gallery-item {
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover .gallery-caption {
    opacity: 1;
  }
}

.gallery .gallery-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

.gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-size: $small-font-size;
  color: white;
  opacity: 0;
  transition: .3s;
}

.mw-100vw {
  max-width: 100vw;
}

.w-90 {
  width: 90% !important;
}

body {
  overflow: auto;
  height: 100vh;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";

/* Import ngx-datatable styles. */
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';

/* Import quill style. */
@import "../node_modules/quill/dist/quill.snow.css";

.form-group.required label {
  &:after {
    content: "*";
    color: $danger;
    margin-left: 5px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bg-muted {
  background-color: $gray-200;
  color: $gray-700;
}

.badge.bg-warning {
  color: $gray-800;
}
