// 2. Include any default variable overrides here
$btn-border-radius: 50rem;

$theme-colors: (
  "light":      #fffceb,
  "dark":       #184e5b,
  "primary":    #016a7d,
  "secondary":  #696c83,
  "info":       #55aa8d,
  "accent1":    #9c090d,
  "accent2":    #e54858,
  "accent3":    #e5b6a4,
  "success":    #0eac60,
  "warning":    #ffd700,
  "danger":     #ff6347,
);

$dropdown-border-width: 0;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: .5rem;
$dropdown-link-active-bg: map-get($theme-colors, "accent3");
$dropdown-link-active-color: var(--bs-black);

$form-check-input-checked-bg-color: var(--bs-primary)
