@import "/src/theme";

.timeline-steps {
  & > span {
    font-size: small;
    color: var(--bs-gray-600);
    position: relative;
    top: -.4rem;
  }

  ol {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5;
    margin-bottom: 0;

    li {
      position: relative;
      width: 30px;
      height: 20px;

      span {
        display: block;
        text-align: center;
        width: 15px;
        height: 15px;
        background-color: lighten(map-get($theme-colors, 'info'), 30);
        border-radius: 50%;
      }

      &:not(:last-of-type)::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: lighten(map-get($theme-colors, 'info'), 30);
        position: absolute;
        top: calc(50% - 4px);
      }

      &.active {
        span {
          background-color: var(--bs-info)
        }

        &:not(:last-of-type)::after {
          background-color: var(--bs-info)
        }
      }
    }
  }
}
