<div id="calendar-card" class="card" [class.shadow-lg]="shadowed" [class.border-0]="!shadowed" *ngIf="session else noSession">
  <div class="card-body">
    <div class="timeline-steps">
      <ol>
        <li *ngFor="let step of session.timelineSteps; let i=index;" [class.active]="i < (activeStepNumber || 0)">
          <span></span>
          <span container="body" class="cursor-pointer position-absolute top-0 z-index-1" style="width: 15px; height:15px; background:transparent;"  [ngbTooltip]="tipContent"></span>
          <ng-template #tipContent><b>{{step.timelineItem.name}}</b><br><small>{{step.start | date:'shortDate'}} au {{step.end | date:'shortDate'}}</small></ng-template>
        </li>
      </ol>
      <span *ngIf="activeStepNumber else notStarted">Étape {{activeStepNumber}} sur {{session.timelineSteps.length}}</span>
      <ng-template #notStarted><span>La campagne n'a pas encore débuté</span>
        <br>
        <span class="text-black-50">Rendez-vous le {{session.timelineSteps[0].start | date:'shortDate'}}</span>
      </ng-template>
    </div>
    <p class="fw-bold fs-5 mb-0">
      <span *ngIf="!sessionEnded else sessionEndedTmpl">{{activeStep?.timelineItem.name}}</span>
      <ng-template #sessionEndedTmpl>Session terminée</ng-template>
    </p>
    <p class="text-black-50 small" *ngIf="!sessionEnded && activeStep">
      {{activeStep.start | date:'shortDate'}} au {{activeStep.end | date:'shortDate'}}
    </p>
    <ng-container *ngIf="displayCTA" [ngSwitch]="activeStep?.timelineItem.id">
      <button class="btn btn-danger text-white mt-2 w-100" [routerLink]="['/projects', 'new']" *ngSwitchCase="'DEPOSIT'">
        <span class="d-block small text-white fw-light">Étudiant UTC ?</span>
        Déposer un projet
      </button>
      <button class="btn btn-warning mt-2" [routerLink]="['/sessions', session.slug]" *ngSwitchCase="'VOTING'">Voir les projets</button>
      <button class="btn btn-warning mt-2" [routerLink]="['/sessions', session.slug]" *ngSwitchCase="'REALIZATION'">Voir les projets</button>
      <span class="text-black-50 small" *ngSwitchCase="'PROJECT_EXAMINATION'">Vous pourrez bientôt voter pour vos projets préférés</span>
    </ng-container>
  </div>
</div>

<ng-template #noSession>
  <span class="text-danger">
    <i class="bi-exclamation-circle-fill me-1"></i>
    Aucune session fournie
  </span>
</ng-template>
