<div class="container mt-2">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1 class="display-6">Sessions</h1>
    <div class="d-flex gap-3">
      <button class="btn btn-primary" (click)="createSession()"><i class="bi bi-plus"></i> Créer une session</button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3 mt-2">
    <div class="col" *ngFor="let session of sessions">
      <div class="card shadow-none">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>
            <h3 class="card-title h5 mb-0">{{ session.name }}</h3>
            <div>
              <span class="fw-bold card-subtitle small text-primary z-index-1" *ngIf="session.id === activeSessionId">ACTIVE</span>
              <span class="fw-bold card-subtitle small text-danger z-index-1" *ngIf="session.deleted">MASQUÉE</span>
              <span class="text-muted small" *ngIf="projectsCountForSession.get(session.id) as projectsCount">
                {{projectsCount}} projet{{projectsCount > 1 ? 's' : ''}}</span>
            </div>

          </div>
          <div>
            <!-- Edit session button -->
            <button class="small btn-link btn" ngbTooltip="Éditer" (click)="editSession(session)">
              <i class="bi bi-pencil-fill text-primary"></i>
            </button>

            <!-- Delete session button -->
            <button *ngIf="projectsCountForSession.get(session.id) === 0" class="small btn btn-link" ngbTooltip="Supprimer" (click)="deleteSession(session)">
              <i class="bi bi-trash text-danger"></i>
            </button>

            <!-- Activate session button -->
            <button *ngIf="activeSessionId !== session.id" class="small btn-link btn" ngbTooltip="Marquer comme session en cours" (click)="activateSession(session)">
              <i class="bi bi-play-fill text-info"></i>
            </button>
          </div>

        </div>
        <div class="small">
          <app-session-calendar-card [session]="session" [displayCTA]="false"
                                     [shadowed]="false"></app-session-calendar-card>
        </div>
        <div class="border-top d-flex flex-column align-items-center">
          <a class="btn"
             (click)="isCollapsed.set(session.id, !isCollapsed.get(session.id))">Voir {{!isCollapsed.get(session.id) ? 'plus' : 'moins'}}
            <i [class.bi-chevron-down]="!isCollapsed.get(session.id)"
               [class.bi-chevron-up]="isCollapsed.get(session.id)"></i>
          </a>
          <div #collapsible="ngbCollapse" [ngbCollapse]="!isCollapsed.get(session.id) || false" class="w-100">
            <ul class="list-group list-group-flush mb-1">
              <li class="list-group-item d-flex gap-3 align-items-center"
                  *ngFor="let ti of session.timelineSteps; let i=index">
                <span class="fs-4 fw-bold text-primary rounded-circle border-1">{{i + 1}}</span>
                <div class="d-flex flex-column">
                  <span class="fw-bold">{{ti.timelineItem.name}}</span>
                  <span class="small text-muted">Du {{ti.start | date:'shortDate'}}
                    au {{ti.end | date:'shortDate'}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
