<div class="container-fluid header">
  <app-glass-bg></app-glass-bg>
  <div class="container">
    <div class="d-flex align-items-start justify-content-between gap-4">
      <div id="header-text" class="p-0">
        <h1 class="display-4 text-white" data-aos="zoom-in">Mentions légales</h1>
      </div>
      <div data-aos="zoom-in" data-aos-delay="400">
        <span class="text-center">
          <i class="bi-file-earmark-lock2-fill text-white" style="font-size: 75px"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-column gap-4 pt-5 small">
  <article>
    <h1>Mentions légales</h1>

    <section>
      <h2>1. Édition</h2>
      <p>
        Le site <a href="https://bpe.utc.fr">bpe.utc.fr</a> est édité par l'université de
        technologie de Compiègne (UTC) pour le bureau de la vie étudiante (BVE).
      </p>
      <p class="small border p-2">
        UTC - Université de technologie de Compiègne<br>
        Rue du docteur Schweitzer<br>
        60200 Compiègne<br>
        France<br>
        Tél. : +33 (0)3 44 23 44 23<br>
        E-mail : bve[&#64;]utc.fr<br>
      </p>
    </section>

    <section>
      <h2>2. Directeur de la publication</h2>
      <p>
        Le directeur de la publication du site <a href="https://bpe.utc.fr">bpe.utc.fr</a> est
        le bureau de la vie étudiante de l'UTC.
      </p>
    </section>

    <section>
      <h2>3. Hébergement</h2>
      <p>
        Le site <a href="https://bpe.utc.fr">bpe.utc.fr</a> est hébergé par l'université de
        technologie de Compiègne (UTC) dans ses locaux à Compiègne.
      </p>
    </section>

    <section>
      <h2>4. Cookies</h2>
      <p>
        Le site <a href="https://bpe.utc.fr">bpe.utc.fr</a> n'utilise ni cookies ni
        <em>trackers</em>.
      </p>
    </section>
  </article>

  <article>
    <h1>Protection des données à caractère personnel</h1>
    <p>
      Le BVE s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site
      <a href="https://bpe.utc.fr">bpe.utc.fr</a>, soient conformes au règlement général sur la
      protection des données (RGPD) et à la loi Informatique et Libertés.
      <br>
      <br>
      Conformément au règlement européen 2016/679 dit RGPD, vous disposez d’un droit d’accès, de rectification et
      d’effacement relatif aux données qui vous concernent, droits que vous pouvez exercer auprès de <a
      href="mailto:bve@utc.fr">bve&#64;utc.fr</a>. Vous disposez également du droit à la limitation du traitement des
      données qui vous concernent, droit qui peut être exercé en vous adressant au délégué à la protection des données
      de l’UTC (dpo&#64;utc.fr).
      Pour toute question relative au traitement des données à caractère personnel, vous pouvez contacter le délégué à
      la protection des données de l’UTC (<a href="mailto:dpo@utc.fr">dpo&#64;utc.fr</a>).
      Si vous estimez après nous avoir contactés, que vos droits ne sont pas respectés, vous pouvez adresser une
      réclamation à la CNIL.
    </p>

    <section>
      <h2>1. Responsable du traitement</h2>
      <p>
        Le responsable du traitement des données à caractère personnel est le BVE UTC.
      </p>
    </section>

    <section>
      <h2>2. Données collectées et finalité</h2>
      <p>
        Les données à caractère personnel collectées sur le site <a href="https://bpe.utc.fr">bpe.utc.fr</a>
        dépendent de votre utilisation du site.
      </p>

      <div class="mb-3">
        <h3>2.1 Données de connexion</h3>
        Lorsque vous visitez le site, les données suivantes sont collectées :
        <ul class="small">
          <li>Adresse IP</li>
          <li>Pages visitées</li>
          <li>Heure de la visite</li>
        </ul>
        Ces données sont collectées pour répondre aux obligations règlementaires.
        <br>
        Elles sont conservées pendant 12 mois et ne sont consultables que par l'hébergeur du site (DSI UTC).
      </div>

      <div class="mb-3">
        <h3>2.2 Utilisateurs UTC connectés</h3>
        <div>
          Lorsque vous vous connectez sur le site à l'aide de votre compte UTC, les données suivantes sont collectées :
          <ul class="small">
            <li>Nom et prénom</li>
            <li>Adresse mail</li>
            <li>Profil (étudiant, personnel)</li>
            <li>Identifiant UTC</li>
          </ul>
          Ces données sont collectées dans le but de vous identifier et de vous permettre d'accéder aux fonctionnalités de dépôt des projets et de vote.
          <br>
          Elles sont utilisées uniquement afin de vous identifier et ne sont visibles que des administrateurs du site (bureau de la vie étudiante).
        </div>
      </div>

      <div class="mb-3">
        <h3>2.3 Porteur de projet</h3>
        <div>
          Le porteur de projet est un étudiant de l'UTC qui a déposé un projet sur le site.
          Afin de pouvoir déposer son projet, le porteur doit s'être connecté à l'aide de son compte UTC (cf 2.2). En plus des données collectées lors de la connexion, les données suivantes sont collectées :
          <ul class="small">
            <li>Numéro de téléphone</li>
          </ul>

          Ces données sont utilisées pour contacter le porteur de projet en cas de besoin et ne sont consultables que par les administrateurs du site (bureau de la vie étudiante).
          <br>
          Le nom et prénom du porteur de projet, si son projet est retenu par la commission, seront affichées sur la page du projet.
        </div>
      </div>

      <div >
        <h3>2.4 Votant</h3>
        <div>
          Pour chaque session, les utilisateurs connectés et étudiants de l'UTC peuvent voter pour les projets qu'ils souhaitent voir réalisés.
          Le vote n'est pas anonyme afin de limiter les votes multiples.
          <br>
          Les données de vote ne sont visibles que par les administrateurs de la base de données (DSI UTC). Elles sont présentées sur le site sous forme de statistiques anonymes (nombre de votes par projet).
          <br>
          Les données de votes sont anonymisées 1 mois après la fin de la session.
        </div>
      </div>
    </section>


  </article>

</div>
