<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('cross click')">

  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="isTemplate(message) else textMessage">
    <ng-container [ngTemplateOutlet]="getTemplate(message)" [ngTemplateOutletContext]="templateContext"></ng-container>
  </ng-container>
  <ng-template #textMessage>
    <p><strong>Etes-vous sûr de vouloir supprimer <span class="text-primary">{{message}}</span> ?</strong></p>
    <p *ngIf="!reversible">
      <span class="text-danger">Cette opération est irréversible</span>
    </p>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" autofocus class="btn btn-outline-secondary" (click)="modal.dismiss('dismiss click')">Annuler</button>
  <button type="button" class="btn btn-danger" (click)="modal.close(true)">Ok</button>
</div>
